.background-img {
    background-image: url('../../../../assets/images/Group 44@2x.png');
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 96%;
}
