<div class="m-0 p-0 d-flex">
    <div class="col-4 p-0">
        <div class="background-img">
                <div class="quote-img">
                    <img src="../../../../assets/images/Group 52.png" alt="quote-img">
                </div>
                <div class="quote col-md-3 col-4">
                    <div class="position-relative m-3 p-2">
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry</p>
                        <p class="font-bold mt-4 mb-0 p-0">Salma Mohamed</p>
                        <span class="small m-0 p-0">Founder, Soliter Salon</span>
                    </div>
                </div>
            </div>
    </div>
    <div class="col-8">
        <div class="m-5">
            <p class="text-end ">Having Troubles? <span class="color-primary font-bold">Get Help</span></p>
            <h1 class="mt-5">Start your business now</h1>
            <p class="mt-1 w-50">Creating your company is just a few steps away,<br> Enter your email address to
                continue.</p>
            <!-- Form -->
            <form [formGroup]="SignupForm" (ngSubmit)="onSubmit()">
                <div formGroupName="userData" class="d-flex justify-content-between w-75 flex-wrap">
                    <div class="form-group w-40">
                        <label for="firstName">First Name</label>
                        <input type="text" class="form-control input-style " id="firstName" formControlName="firstName"
                            placeholder="Enter your first name">
                    </div>
                    <div class="form-group w-40 ">
                        <label for="lastName">Last Name</label>
                        <input type="text" class="form-control input-style " id="lastName" formControlName="lastName"
                            placeholder="Enter your last name">
                    </div>
                    <div class="form-group w-40">
                        <label for="email">Email</label>
                        <input type="email" class="form-control input-style" id="email" formControlName="email"
                            placeholder="Enter your email">
                    </div>
                    <div class="form-group w-40">
                        <label for="phoneNumber">Phone Number</label>
                        <input type="number" class="form-control input-style" id="phoneNumber"
                            formControlName="phoneNumber" placeholder="Enter your phone number">
                    </div>
                    <div class="form-group w-lg-40 w-100">
                        <label for="password">Password</label>
                        <div class="input-group form-control input-style">
                            <input type="password" class="form-control" id="password" formControlName="password"
                                placeholder="Enter your password" aria-describedby="basic-addon1">
                            <span class="input-group-text" id="basic-addon1">
                                <i class="bi bi-eye-slash"></i>
                            </span>
                        </div>
                    </div>
                </div>

                <div class="d-flex justify-content-between w-75 mt-4 align-items-center">
                    <div class="form-check col-md-4 col-6">
                        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                        <label class="form-check-label" for="flexCheckDefault">
                            Agree to the <a href="#" class="color-blue">Privacy Policy</a> and <a href="#"
                                class="color-blue">Terms & Conditions</a>
                        </label>
                    </div>
                    <div class="col-md-8 col-6 text-end">
                        <button type="submit" class="btn btn-primary ">Next <i
                                class="bi bi-arrow-right color-white ms-5"></i></button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>